<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/toggleswitch.css">
		<script src="static/jquery.min.js"></script>
		<script src="static/bootstrap.min.js"></script>
		<script src="static/canvasBackground.js"></script>
		<script src="static/projects.js"></script>
		<script src="static/backgrounds/hexFall.js"></script>
		<script src="static/backgrounds/snowFall.js"></script>
		<script src="static/backgrounds/stars.js"></script>
		<script src="static/backgrounds/parametric.js"></script>
		<script src="static/backgrounds/game.js"></script>
		<script src="static/backgrounds/astar.js"></script>
		<title>{{!title}}</title>
	</head>
	<body>
		{{#navbar}}
		{{#projects}}
	</body>
</html>
